<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>{% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'logo.css' %}">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="{% url 'NavBar:logo' %}" target="_blank">home</a></li>
                    <li><a href="{% url 'NavBar:support' %}" target="_blank">Support</a></li>
                    <li><a href="{% url 'NavBar:locations' %}" target="_blank">Location</a></li>
                    <li><a href="{% url 'NavBar:food' %}" target="_blank">Food</a></li>
                </ul>
                <div id="logo">
                </div>
            </nav>
        </header>
    </body>
    </html>
    <a href="#"><button>login</button></a>
</body>
</html>